body{
    width:100%;
    height: fit-content;
    display:flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}


.logo{
    height: 55px;
}

ul{
    padding:0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

p,a,h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#top_nav{
    display: flex;
    gap : 15px;
    flex-wrap: wrap;
}

#header_menu{
    display: flex;
    border: 1px solid;
    align-items: center;
    gap: 25px;
    width:fit-content;
    flex-wrap: wrap;
}

#location_icon{
    height:25px;
}

#location_nav{
    display: flex;
    width:fit-content;
    border: 1px solid;
    align-items: center;
    gap:5px;
}

#nav_store{
    padding-top: 4px;
    font-size: 12px;
}

.button{
    border: 3px solid;
    border-radius: 30px ;
    padding: 10px;
    width:fit-content;
}

#buttons{
    display: flex;
    gap: 15px;
    border: 1px solid;
    align-items: center;
    width:fit-content;
}

#edge_screen{
    border:1px solid;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

#header{
    border: 1px solid;
    display: flex;
    width:100%;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

#top_nav li{
    font-weight: 700;
}

#button_join_now{
    background-color: black;
}

#sign_in,
#join_now{
    font-weight: bold ;
}

#join_now{
    color: white;
}

.highlight:hover{
    color:green;
}

#button_sign_in:hover {
    background-color: rgb(188, 186, 186);
}

#button_join_now:hover{
    background-color: rgb(33, 33, 33);
}

/* body */

.body_text_title h1{
    font-size: 80px;
}

.body_text_title{
    border: 1px solid;
    width:60%;
    text-align: center;
}

.sub_text{
    border: 1px solid;
    width:50%;
    text-align: center;
}

.sub_text p{
    font-weight: 550;
    font-size: 25px;
}

.body_text{
    border: 1px solid red;
    background-color: rgb(32, 67, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.body_image img{
    height: 100%;
    width: 100%;
}


.body_cards{
     border: 5px solid blue;
     width: fit-content;
     display:flex;
     flex-wrap: wrap;
}

.body_image,
.body_text{
    flex : 1 1 50%;
    box-sizing: border-box;
}

#main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}

#main_note_text{
    border: 1px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

#note{
    border: 1px solid;
    text-align: center;
    width: 700px;
    font-weight: 700;
}

.body_text h1,
.sub_text p,
.body_cards_button a{
    color: white;
    font-weight: 600;
}

.peach_card {
    background-color: peachpuff;
}

.peach_card h1 ,
.peach_card  p,
.peach_card .body_cards_button a,
.light_green_card h1 ,
.light_green_card  p,
.light_green_card .body_cards_button a  {
    color:rgb(32, 67, 32);
}

.peach_card .body_cards_button,
.light_green_card .body_cards_button{
    border-color: rgb(32, 67, 32) ;
}

.light_green_card {
    background-color: rgb(176, 215, 176);
}

.dim_green_card{
     background-color: rgb(5, 37, 5);
}

.navy_green_card{
    background-color: darkgreen;
}

.light_green_card .body_cards_button,
.dim_green_card .body_cards_button,
.navy_green_card .body_cards_button{
    border-color: white;
}

/* footer */

#footer{
     border: 1px solid;
     display: flex;
     gap: 25px;
     flex-wrap: wrap;
}

.footer_list{
    border: 1px solid;
    width: fit-content;
    margin-left: 25px;
}

.footer_list li{
    padding: 10px 10px 10px 0px ;
}

.footer_list a{
    color: gray;
    font-size: 20px;
}